h1
{
      background: red;
}

.par-1
{
      color: orange;
      font-family: Ariel;
      font-weight: bold;
}

.par-2
{
      border: 5px solid yellow;
      border-radius: 25px;
      margin-top: 80px;
      padding-left
}
